Objective:
Build a machine learning model that evaluates a person's demographic and works status to predict a need for extra mental health care.

In [180]:
import pandas as pd
import numpy as np
import os

os.chdir('/home/643aa895-acfe-4a55-9f84-aff3b9a97360/HealthStudy')

surveyData = pd.read_csv('HealthSurvey.csv')
    #This data came from: https://www.kaggle.com/datasets/osmi/mental-health-in-tech-survey/

surveyData.head(5)

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [194]:
# First, let's describe some of the data to get a feel for it

minAge = surveyData.Age.min()
maxAge = surveyData.Age.max()
avgAge = int(surveyData.Age.mean())

print(f'In this study, participants averaged {avgAge} years old, with a range of {minAge} to {maxAge} years old')

In this study, participants averaged 79428148 years old, with a range of -1726 to 99999999999 years old

There are definitely some issues with the data. For age, I'm going to set any age above 120 or below 18 to 'NaN'

In [198]:
surveyData.Age = np.where((surveyData.Age > 120) | (surveyData.Age < 18), np.nan, surveyData.Age)
        # np.where(condition, x, y): This function is used to replace values where the condition is True with x and where the condition is False with y.

In [200]:
# Print average, max, and min age

minAge = surveyData.Age.min()
maxAge = surveyData.Age.max()
avgAge = int(surveyData.Age.mean())

print(f'In this study, participants averaged {avgAge} years old, with a range of {minAge} to {maxAge} years old')

In this study, participants averaged 32 years old, with a range of 18.0 to 72.0 years old

In [140]:
# Initial look at gender data

# surveyData.Gender.head(50)
# surveyData.Gender.describe()
# surveyData.Gender.unique()

# It looks like lots of variation due to typing input
    # I want to make male, Male, Cis Male, M, etc all say "Male," and same for female
    # The code below should group most of the "male" and "female" entries together, although it doesn't get all

surveyData.Gender = np.where((surveyData.Gender == 'male') | (surveyData.Gender == 'M') | (surveyData.Gender == 'Cis Male') | (surveyData.Gender == 'm'), 'Male', surveyData.Gender)
surveyData.Gender = np.where((surveyData.Gender == 'female') | (surveyData.Gender == 'F') | (surveyData.Gender == 'Cis Female') | (surveyData.Gender == 'f'), 'Female', surveyData.Gender)

In [165]:
# Calculate and print the number of male, female, and other genders within the study

uniqueGenders = surveyData.Gender.value_counts()
# print(uniqueGenders)
maleCount = uniqueGenders.Male
femaleCount = uniqueGenders.Female
otherCount = sum(uniqueGenders) - maleCount - femaleCount
print(f"Study includes {maleCount} males, {femaleCount} females, and {otherCount} other")

Study includes 973 males, 237 females, and 49 other

In [209]:
# Mental Health Evaluation
# The most important metric for mental health evaluation is probably the "Treatment" data:
        # treatment: Have you sought treatment for a mental health condition?
    
# surveyData.treatment.head()
# surveyData.treatment.unique()

# This data must have come from a yes/no checkbox, so the data is clean with only Yes or No.